#projects-section {
    height: 100%;
    text-align: center;
    margin: 20px;
}

.card-deck {
    margin-bottom: 2em;
}

.project-card {
    -webkit-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
}

.project-card:hover {
    transform: scale(1.01);
}

.captaincovid-img,
.fjordadventures-img,
.reveraclone-img,
.simongame-img,
.travelboard-img,
.wwwprovider-img {
    height: 220px;
    object-fit: cover;
}

.card-text {
    text-align: justify;
}

.card-footer {
    display: flex;
    justify-content: flex-start;
    background-color: none !important;
    border: none;
}

.project-btn {
    background-color: #30475e;
    border: none;
    width: 5em;
    margin-right: 1em;
}

.project-btn:hover {
    background-color: #f05454 !important;
    border: none;
    box-shadow: none !important;
}

.project-btn:focus {
    background-color: #30475e;
    border: none;
    box-shadow: none !important;
}