footer {
    margin: 35px 35px;
}

.top-footer-container {
    height: 50px;
    background-color: #f05454;
}

.bottom-footer-container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30475e;
}

.copyright-text {
    margin: 0;
    color: #e8e8e8;
}