.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 400px;
    margin: 0 35px;
    background: linear-gradient(to right, #f05454 50%, #30475e 50%)
}

.header-name {
    font-size: 6em;
    color: #e8e8e8;
}

@media only screen and (max-width: 500px) {
    .header-name {
        font-size: 4.5em;
    }
}