#about-section {
    height: 100%;
    text-align: center;
    margin: 20px;
}

.heading {
    margin-top: 2em;
    margin-bottom: 2em;
}

hr {
    height: 5px;
    width: 20%;
    border-radius: 25%;
    background-color: #30475e;
}

.about-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text {
    margin: 0 50px;
}

.about-icon {
    font-size: 3em;
    margin: 10px;
}

.profile-img {
    width: 80%;
    filter: grayscale(100%);
}