#about-section {
    height: 100%;
    text-align: center;
    margin: 20px;
}

.heading {
    margin-top: 2em;
    margin-bottom: 2em;
}

hr {
    height: 5px;
    width: 20%;
    border-radius: 25%;
    background-color: #30475e;
}

.about-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text {
    margin: 0 50px;
}

.about-icon {
    font-size: 3em;
    margin: 10px;
}

.profile-img {
    width: 80%;
    filter: grayscale(100%);
}

.fa-html5:hover {
    color: #e34c26;
}

.fa-css3-alt:hover {
    color: #264de4;
}

.fa-js:hover {
    color: #f0db4f;
}

.fa-node:hover {
    color: #3c873a;
}

.fa-react:hover {
    color: #61DBFB;
}

.fa-sass:hover {
    color: #cc6699;
}

.fa-linkedin:hover {
    color: #0966C2;
}

.fa-github-square:hover {
    color: #bd2c00;
}

.fa-envelope-square:hover {
    color: #f05454;
}