#about-section {
    text-align: center;
    margin: 20px;
}

.heading {
    margin-top: 2em;
    margin-bottom: 2em;
}

hr {
    height: 5px;
    width: 20%;
    border-radius: 25%;
    background-color: #30475e;
}

.about-content-container {}

.about-text {
    text-align: justify;
}

.profile-img {
    width: 80%;
    filter: grayscale(100%);
}