#projects-section {
    height: 100%;
    text-align: center;
    margin: 20px;
}

.project-card {
    -webkit-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 46px -26px rgba(0, 0, 0, 0.75);
}

.project-card:hover {
    transform: scale(1.01);
}

.project-img {
    width: 100%;
    object-fit: cover;
}

.card-text {
    text-align: justify;
}

.card-footer {
    background-color: none !important;
    border: none;
}

.readmore-btn {
    background-color: #30475e;
    border: none;
}

.readmore-btn:hover,
.readmore-btn:focus {
    background-color: #f05454 !important;
    border: none;
    box-shadow: none !important;
}